<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12">

            <div class="col m12">
                <h3> Casos de Intoxicación:</h3>
                <p>Las intoxicaciones ocurren cuando una persona ingiere, inhala o entra en contacto con una
                  sustancia tóxica. Las causas comunes incluyen alimentos en mal estado, productos químicos,
                  medicamentos en dosis altas, y plantas venenosas. Los síntomas varían según el tipo de
                  sustancia, pero pueden incluir náuseas, vómitos, mareos, dolores de cabeza, y en casos
                  graves, dificultad para respirar y pérdida de conciencia..</p>
            </div>

            <div class="col m6">

                <div class="card">
                    <div class="card-image" style="height: 350px;">
                        <canvas id="casesPoisoning"></canvas>
                    </div>
                    <div class="card-action">
                        <a>Grafica de Casos por Intoxicación</a>
                    </div>
                </div>

            </div>

            <div class="col m6">

                <div class="card">
                    <div class="card-image" style="width: 550px;">
                        <canvas id="casesPoisoning_distribution"></canvas>
                    </div>
                    <div class="card-action">
                        <a>Grafica de Casos por Intoxicación</a>
                    </div>
                </div>

            </div>

            <div class="col m12">

                <br>
                <br>

                <br>

            </div>

        </div>

        <div class="divider col m12"></div>

        <div class="col s12 m12">

            <h3>Cantidad de Intoxicaciones por mes</h3>

            <p>
              Los meses del año afectan la cantidad de intoxicaciones debido a cambios estacionales y
              comportamientos culturales específicos de cada época. En invierno, el uso intensivo de
              sistemas de calefacción incrementa las intoxicaciones por monóxido de carbono debido a
              la mala ventilación, mientras que la automedicación para tratar enfermedades comunes de esta
              estación puede llevar a intoxicaciones por medicamentos. En primavera, el aumento de la
              actividad al aire libre y en la jardinería incrementa las intoxicaciones por pesticidas y
              herbicidas, así como por insecticidas debido a la mayor presencia de insectos. Durante el
              verano, las altas temperaturas favorecen el crecimiento de bacterias en los alimentos,
              aumentando las intoxicaciones alimentarias, además de que las actividades al aire libre
              pueden resultar en exposiciones a plantas y hongos tóxicos. En otoño, la recolección de
              hongos silvestres y el uso de productos químicos en la agricultura pueden provocar
              intoxicaciones, así como el aumento del consumo de alimentos en conserva casera, que
              puede llevar a intoxicaciones si no se han seguido adecuadamente los procedimientos de
              preservación. Así, cada estación y mes del año influye en la frecuencia y tipo de
              intoxicaciones debido a factores ambientales y hábitos de las personas
            </p>

            <div class="card">
                <div class="card-image" style="width: 1200px;">
                    <canvas id="reportDate"></canvas>
                </div>
                <div class="card-action">
                    <a>Historico Reportes de Intoxicación</a>
                </div>
            </div>

            <br>

            <div class="divider col m12"></div>

            <br>

            <h3>Reportes último año</h3>

            <p>
              Las intoxicaciones del último año pueden verse afectadas por diversos fenómenos
              estacionales, climáticos y relacionados con la cadena de suministro de alimentos.
              Fenómenos como El Niño o La Niña tienen un impacto significativo en las condiciones
              climáticas, lo que a su vez puede influir en la prevalencia de intoxicaciones.
            </p>

            <div class="card">
                <div class="card-image" style="width: 1200px;">
                    <canvas id="reportDate_line"></canvas>
                </div>
                <div class="card-action">
                    <a>Intoxicaciones por mes - último año</a>
                </div>
            </div>


        </div>
        <div class="col s12 m4" style="display: none;">
            <div class="card">
                <div class="card-image">
                    <canvas id="lineChart"></canvas>
                </div>
                <div class="card-action">
                    <a href="#">Grafica Lineas</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4" style="display: none;">
            <div class="card">
                <div class="card-image">
                    <canvas id="pieChart"></canvas>
                </div>
                <div class="card-action">
                    <a href="#">Grafica Circular</a>
                </div>
            </div>
        </div>

    </div>
</div>
