@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}
/* styles.css */
.section.green.lighten-4 {
    background-color: #e8f5e9; /* Adjust the green background color as needed */
  }
  
  .container {
    max-width: 600px; /* Set a max-width for the form container */
    margin: auto;
    background-color: #fff; /* White background for the form */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the form container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* A subtle shadow for depth */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 50px; /* Rounded edges for input fields */
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .btn-primary {
    background-color: #373737;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  