<div class="container">
  <button class="btn btn-primary" [routerLink]="['/user/perfil']" routerLinkActive="active">Perfil List</button>
  <h2>Registrar Perfil</h2>
  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input id="name" formControlName="name" type="text" required class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="text" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password" required class="form-control">
    </div>
    <button type="submit" [disabled]="!perfilForm.valid" class="btn btn-primary">Guardar</button>
  </form>
</div>
