<section class="section green lighten-4">
    <div class="container">
        <button class="btn btn-primary" [routerLink]="['/user/perfil-form']" routerLinkActive="active">
            Formulario
        </button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> N° </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-info">
                        <span class="material-icons">view_list</span>
                    </button>
                    <button (click)="actualizarPerfil(element.id)" class="btn btn-sm btn-warning">
                        <span class="material-icons">edit</span>
                    </button>
                    <button (click)="eliminarPerfil(element.id)" class="btn btn-sm btn-danger">
                        <span class="material-icons">delete</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[12, 24, 36]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>

</section>