@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.btn-primary {
  background-color: #63b1aa;
}

button {
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

button span {
  text-align: center;
  flex-grow: 1;
}

/* Estilos para el botón "Details" */
.btn-info {
  background-color: #5cd9ec;
  color: #fff;
  border: none;
}

.btn-info:hover {
  background-color: #5cd9ec;
}

/* Estilos para el botón "Edit" */
.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:hover {
  background-color: #e0a800;
}


/* Estilos para el botón "Delete" */
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

table {
  width: 100%;
}