<section class="section green lighten-4">
    <div class="container">
        <button class="btn btn-primary" [routerLink]="['/user/perfil-form']" routerLinkActive="active">Perfil
            Form</button>
        <div *ngIf="isListView" class="row">
            <div class="col s12">
                <table class="striped bordered">
                    <thead>
                        <tr>
                            <th>Sr no</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let perf of perfil; let sr=index">
                            <td>{{perf.id}}</td>
                            <td>{{perf.name}}</td>
                            <td>{{perf.email}}</td>
                            <td>{{perf.created_at}}</td>
                            <td>
                                <button class="btn btn-sm brn-info">
                                    <i class="fa fa-search"></i>Details</button>
                                <button (click)="actualizarPerfil(perf.id)"  class="btn btn-sm brn-warning">
                                    <i class="fa fa-edit"></i>Edit</button>
                                <button (click)="eliminarPerfil(perf.id)" class="btn btn-sm brn-danger">
                                    <i class="fa fa-remove"></i>Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>