<div id="err_containerGeneral" class="container-fluid center">
    <h1>Page not found</h1>
    <div class="im-sheep">
        <div class="top">
            <div class="body"></div>
            <div class="head">
                <div class="im-eye one"></div>
                <div class="im-eye two"></div>
                <div class="im-ear one"></div>
                <div class="im-ear two"></div>
            </div>
        </div>
        <div class="im-legs">
            <div class="im-leg"></div>
            <div class="im-leg"></div>
            <div class="im-leg"></div>
            <div class="im-leg"></div>
        </div>
    </div>
    <h5>The page you are looking for does not exist</h5>
    <a href="/home" id="err_Home" class="waves-effect btn">Home</a>
</div>