<fieldset>
  <legend>Intoxicaciones Registradas</legend>
  <button routerLink="/intoxicaciones/Create" class="btn btn-success"> Añadir Caso</button>
  <table>
    <thead>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Sintomas
        </th>
        <th>
          Severidad
        </th>
        <th>
          Fecha de registro
        </th>
        <th>
          Tipo Intoxicación
        </th>
        <th>
          Eliminar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of ListInto">
        <th>
          {{x.id}}
        </th>
        <th>
          {{ x.symptoms }}
        </th>
        <th>
          {{ x.severety }}
        </th>
        <th>
          {{ x.dateRegister }}
        </th>
        <th>
          {{ x.type_id }}
        </th>
        <th>
          <button  (click)="warning(x) ">
            Eliminar
          </button>
        </th>
        <th>
          <button  (click)="GoUptade(x) ">
            Actualizar
          </button>
        </th>
      </tr>
    </tbody>
  </table>
  <button  (click)="showList(this.lista-1)"  [disabled]="lista==1">
    Anterior
  </button>
  <button  (click)="showList(this.lista+1) " [disabled]="ListInto.length<15">
    Siquiente
  </button>
</fieldset>
