<p>intoxicacions-uptade works!</p>
<form [formGroup]="intoxicacionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID</label>
    <input id="id" formControlName="id" type="number"  />
  </div>

  <div>
    <label for="dateRegister">Fecha de Registro</label>
    <input id="dateRegister" formControlName="dateRegister" type="date" />
  </div>

  <div>
    <label for="symptoms">Síntomas</label>
    <input id="symptoms" formControlName="symptoms" type="text" />
  </div>

  <div>
    <label for="severety">Severidad</label>
    <input id="severety" formControlName="severety" type="text" />
  </div>

  <div>
    <label for="treatment">Tratamiento</label>
    <input id="treatment" formControlName="treatment" type="text" />
  </div>

  <div>
    <label for="patient_id">ID del Paciente</label>
    <input id="patient_id" formControlName="patient_id" type="number" />
  </div>

  <div>
    <label for="type_id">Tipo de Intoxicación</label>
    <input id="type_id" formControlName="type_id" type="number" />
  </div>

  <button type="submit">Actualizar</button>
  <button type="button" (click)="ToRead()">Cancelar</button>
</form>
