<h2>Registrar Intoxicación</h2>
<form [formGroup]="intoxicacionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="dateRegister">Fecha de Contagio</label>
    <input id="dateRegister" formControlName="dateRegister" type="date" />
  </div>

  <div>
    <label for="symptoms">Síntomas</label>
    <input id="symptoms" formControlName="symptoms" type="text" />
  </div>

  <div>
    <label for="severety">Severidad</label>
    <input id="severety" formControlName="severety" type="text" />
  </div>

  <div>
    <label for="treatment">Tratamiento</label>
    <input id="treatment" formControlName="treatment" type="text" />
  </div>

  <div>
    <label for="patient_id">ID del Paciente</label>
    <input id="patient_id" formControlName="patient_id" type="text" />
  </div>

  <div>
    <label for="type_id">Tipo de Intoxicación</label>
    <input id="type_id" formControlName="type_id" type="text" />
  </div>

  <button type="submit" [disabled]="!intoxicacionForm.valid">Registrar</button>
  <button type="button" (click)="ToRead()">Cancelar</button>
</form>

